form(action="/admin/api/v1/auth/login" method="post")
    div
        label(for="email") Email
        input(type="email" name="email" placeholder="Enter email here")

    div
        label(for="password") Password
        input(type="password" name ="password" placeholder="Enter password here")

    button(type="submit") Login